
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink = '/' routerLinkActive='active'>Dating App</a>

    <!-- *ngIf="accountService.currentUser$ |async" -->
    <ul class="navbar-nav mr-auto" >
      <ng-container *ngIf="accountService.currentUser$ |async"> 
        <li class="nav-item ">
          <a class="nav-link" routerLink = '/members' routerLinkActive='active'>Maches </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/lists' routerLinkActive='active'>List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/messages' routerLinkActive='active'>Messages</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/errors' routerLinkActive='error'>Messages</a>
      </li>
     
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="logout()">LogOut</a>
      </li> -->
    </ul>
    <!-- async pipe is used to subscribe to obesrvable which is created in service -->
<div class="dropdown" *ngIf="(accountService.currentUser$ |async) as username" dropdown>
  <a class="dropdown-toggle text-light" dropdownToggle> Welcome {{username.username|titlecase}}</a>   
  <div class="dropdown-menu mt-3" *dropdownMenu>
    <a href=# class="dropdown-item">Edit Profile</a>
    <div class="dropdown-divider"></div>
    <a href=# class="dropdown-item ritu" (click)="logout()">Log Out</a>
    
    
  </div>
</div>

    <form #loginForm="ngForm" *ngIf="(accountService.currentUser$ | async)===null" class="form-inline mt-2 mt-md-0" (ngSubmit)= "login()" autocomplete="off">
      <input name="username" [(ngModel)]="mode.username" class="form-control mr-sm-2" type="text" placeholder="UserName" >
      <input  name="password" [(ngModel)]="mode.password"  class="form-control mr-sm-2" type="password" placeholder="Password" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    
    </form>
  </div>
  
  
</nav>